*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    color: blue;
}
li{
    padding: 20px;
}
nav{
    height: 150px;
    position: fixed;
    background: rgb(157, 133, 133);
}
#logo{
    height: 100px;
    width: 200px;
}
main{
  

    padding-top: 150px;
}

